<div class="container text-center">
  <h1><%= @vehicle.name %></h1>
  <h2><%= @vehicle.category.name %></h2>
  <h2><%= @vehicle.price %></h2>

  <%= link_to "je commande", vehicle_orders_path(@vehicle), method: :post, class:"btn btn-primary" %>


